*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: url('fondo.jpg') #000;
	background-size: cover;
	color: #fff;
	font-size: 16px;
}

.wrap{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
.widget{
	width:40%;
	margin: 2em;
}
.widget p{
	display: inline-block;
	line-height: 1em;
}

.fecha{
	font-family:'Oswald', Arial;
	text-align: center;
	font-size:1.5em ; 
	margin-bottom: 5px;
	background: rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;
}

.reloj{
	font-family:'Oswald', Arial;
	text-align: center;
	font-size:4em;
	padding: 20px;
	width: 100%;
	background: rgba(0,0,0,.5);
}

.reloj .caja-segundos{
	display: inline-block;
}
 .reloj .segundos, .reloj .ampm{
 	font-size: 2rem;
 	display: block;
 }